@import "../../../Mixin/global.scss";

.content_in {
    position        : absolute;
    right           : 0px;
    min-height      : calc(100vh - 56px);
    width           : calc(100% - 250px);
    background-color: $admin_main_background;

    .in {
        width           : 95%;
        background-color: $main_backgroundcolor;
        margin          : 30px auto;
        padding-bottom  : 15px;

        .work {
            padding: 15px 20px;
            @extend %between;
            @extend %row;
        }
    }
}

.edit_button {
    @extend %row;

    .add {
        margin-right    : 15px;
        width           : 105px;
        height          : 34px;
        font-size       : $m;
        background-color: $button_color;

        a {
            height: 100%;
            width : 100%;
            @include ali-set();
            @include jus-set();
            @extend %row;
            color: $font_maincolor;

            &:hover {
                background-color: $button_hover;
            }

            svg,
            p {
                margin: 0px 5px;
            }
        }
    }
}

.searchform {
    @extend %row;

    * {
        @include border-set();
        margin-right: 5px;
        padding     : 0px 2px;
    }

    .date {
        border: 0px;
        @include ali-set();
        @extend %row;

        input {
            margin-left: 5px;
            height     : 100%;
        }
    }

    .searchBtn {
        background-color: $button_color;
        color           : $font_maincolor;
        border          : $button_color;
    }
}

.searchbar {
    @include ali-set();
    @include border-set();
    @extend %row;

    input {
        padding-left: 5px;
        height      : 100%;
    }

    .submit {
        position        : relative;
        left            : -10px;
        height          : 100%;
        width           : 27px;
        background-color: $main_backgroundcolor;
        @include ali-set();

        input {
            @include image-set(100%, 100%, contain);
        }
    }
}

.admin_table {
    thead {
        font-weight: bold;

        th {
            text-align: left;
        }
    }

    tr {
        height       : 38px;
        border-top   : 1px $boder_color solid;
        border-bottom: 1px $boder_color solid;

        .check {
            input {
                margin: 0px auto;
            }
        }
    }

    .onchange {
        * {
            background-color: $admin_check;
        }
    }

    td {
        position: relative;
        padding : 5px 5px 5px 0px;

        select {
            font-size : 16px;
            // @include border-set();
            // padding: 4px 0px;

            position: absolute;
            top     : 9px;
            left    : -5px;
        }

        .action {
            @include ali-set();
            @extend %row;
            height         : 100%;
            justify-content: space-evenly;

            .svg {
                position: relative;
                @include jus-set();
                width: 30%;
                .hover {
                    display         : none;
                    white-space     : nowrap;
                    position        : absolute;
                    text-align      : center;
                    padding         : 2px 5px;
                    top             : 22px;
                    background-color: $main_backgroundcolor;
                    border-radius   : 4px;
                    z-index         : 1;
                    @include border-set();
                }

                &:hover .hover {
                    display: block;
                }
            }
        }
    }

    .bookname {
        max-width    : 640px;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
    }
}

.container.show .innerBox {
    display: block;
}