@import '../../../Mixin/global.scss';

#GuestIndex {
	.block {
		padding: 10px 0px;
		margin : 0px 10px;
	}

	.index_title {
		text-align   : center;
		font-weight  : bold;
		color        : $header_background;
		font-size    : 32px;
		margin-bottom: 10px;
	}

	.center {
		display: flex;

		.teacher_block {
			@extend %col;

			.teacher {
				padding: 5px 0px;
				@extend %row;

				.teacherphoto {
					width  : 250px;
					height : 338px;
					padding: 5px;


					img {
						width     : 100%;
						height    : 90%;
						object-fit: cover;
					}

					.teacherinfo {
						text-align: center;

						.name {
							font-size  : $l;
							font-weight: bold;
						}
					}
				}

				.teacherintroduce {
					width      : 925.33px;
					padding    : 5px;
					white-space: pre-line;
					margin-left: 10px;
					line-height: 28px;
				}
			}
		}

		.labintroduce {
			text-align    : center;
			white-space   : pre-line;
			line-height   : 28px;
			padding-bottom: 10px;
			width         : 100%;
		}
	}

	.booklist {
		display: flex;
		width: 1205.33px;
		@extend %row;

		.book {
			width  : 217.06px;
			padding: 5px;
			margin : 5px;
			@include border-set();

			img {
				width     : 100%;
				height    : 217.05px;
				object-fit: cover;
			}

			.booktitle {
				font-size  : $l;
				padding    : 5px;
				word-wrap  : break-word;
				font-weight: bold;
				border-top : 1px $boder_color solid;
				height     : 49px;
			}

			.bookauthor {
				font-size: $m;
				padding  : 5px;
			}
		}
	}
}