@import '../../../Mixin/global.scss';

#GuestIndex {
	.block {
		padding: 10px 0px;
		margin : 0px 40px;
	}

	.index_title {
		text-align   : center;
		font-weight  : bold;
		color        : $header_background;
		font-size    : 32px;
		margin-bottom: 10px;
	}

	.center {
		display: flex;

		.booklist {
			margin : 0px auto;
			display: flex;
			@extend %row;

			.book {
				width  : 217.06px;
				padding: 5px;
				margin : 5px;
				@include border-set();

				img {
					width     : 100%;
					height    : 217.05px;
					object-fit: cover;
				}

				.booktitle {
					font-size  : $l;
					padding    : 5px;
					word-wrap  : break-word;
					font-weight: bold;
					border-top : 1px $boder_color solid;
					height     : 49px;
				}

				.bookauthor {
					font-size: $m;
					padding  : 5px;
				}
			}
		}
	}

}