@import '../../../Mixin/global.scss';

#GuestIndex {
	max-width: 1215px;
	margin   : 0px auto;

	.block {
		padding: 20px 0px;
	}

	.teacher_i {
		// background-color: rgb(226, 226, 226);
	}

	.index_title {
		text-align : center;
		font-weight: bold;
		color      : $header_background;
		font-size  : 32px;
		padding    : 20px 0px;
	}
	.teachertitle{
		margin-bottom: 30px;
	}
	.center {
		display: flex;

		.teacher_block {
			width: 100%;
			@extend %col;


			.teacher {
				.teacherphoto {
					position    : relative;
					padding     : 5px;
					margin-right: 0px;
					margin      : auto auto;
					align-items : center;

					.imgBG {
						position        : absolute;
						top             : -30px;
						left            : -30px;
						background-color: $header_background;
						width           : 100%;
						height          : 90%;
					}

					img {
						position: relative;
						@include image-set(90%);
					}

					.teacherinfo {
						text-align: center;

						.name {
							font-size  : $l;
							font-weight: bold;
						}
					}
				}

				.teacherintroduce {
					padding    : 5px;
					white-space: pre-line;
					line-height: 40px;
					align-items: flex-start;

					ol,
					ul {
						padding-left: 40px;
					}
				}
			}
		}

		.introduce {
			padding: 5px;

			.labintroduce {
				white-space: pre-line;
				line-height: 28px;
			}
		}

	}

	.booklist,
	.teacher,
	.labintroduce {
		padding: 0px 30px;
	}

	.booklist {
		display  : flex;
		flex-wrap: wrap;
		width    : calc(100% - 60px);

		@extend %row;

		.book {
			position: relative;
			padding : 5px;
			margin  : 5px;
			@include border-set();

			img {
				width     : 100%;
				object-fit: cover;
			}

			.booktitle {
				font-size  : $l;
				padding    : 5px;
				word-wrap  : break-word;
				font-weight: bold;
				border-top : 1px $boder_color solid;
				height     : 49px;

				label {
					position        : absolute;
					display         : none;
					width           : 90%;
					font-size       : 12px;
					word-wrap       : break-word;
					background-color: rgb(226, 225, 225);
					margin-left     : 10px;
					padding         : 5px;
					color           : black;
				}

				&:hover {
					label {
						display: block;
					}
				}
			}

			.bookauthor {
				font-size: $m;
				padding  : 5px;

				label {
					position           : absolute;
					display            : none;
					width              : 90%;
					font-size          : 12px;
					word-wrap          : break-word;
					background-color   : rgb(226, 225, 225);
					// margin-left     : 10px;
					padding            : 5px;
					color              : black;
				}

				&:hover {
					label {
						display: block;
					}
				}
			}


		}
	}
}

@media screen and (max-width:576px) {
	#GuestIndex {
		.book {
			width: calc(100% - 22px);

			img {
				height: 525px;
			}
		}

		.teacherphoto {
			width : 66.666667%;
			height: 340px;
		}

		.teacherintroduce {
			width : 80%;
			margin: 0px auto;
		}
	}
}

@media screen and (min-width:576px) {
	#GuestIndex {
		.book {
			width: calc(50% - 22px);

			img {
				height: 350px;
			}
		}

		.teacherphoto {
			width : 66.666667%;
			height: 340px;
		}

		.teacherintroduce {
			width : 80%;
			margin: 0px auto;
		}
	}
}

@media screen and (min-width:768px) {
	#GuestIndex {
		.book {
			width: calc(33.333333% - 22px);

			img {
				height: 310px;
			}
		}

		.teacher {
			display       : flex;
			flex-direction: column;

			.teacherphoto {
				width : 50%;
				height: 340px;
			}
		}
	}
}

@media screen and (min-width:992px) {
	#GuestIndex {
		.book {
			width: calc(25% - 22px);

			img {
				height: 275px;
			}
		}

		.teacher {
			display       : flex;
			flex-direction: row;

			.teacherphoto {
				width : 33.333333%;
				height: 340px;
			}

			.teacherintroduce {
				width       : calc(66.666667% - 130px);
				padding-left: 130px;
			}
		}
	}
}

@media screen and (min-width:1200px) {
	#GuestIndex {
		.book {
			width: calc(20% - 22px);

			img {
				height: 220px;
			}

			.booktitle {
				label {
					top : 285px;
					left: 0px;
				}
			}

		}

		.teacher {

			.teacherphoto {
				width : 25%;
				height: 340px;
			}

			.teacherintroduce {
				width       : calc(75% - 150px);
				padding-left: 150px;
			}
		}
	}
}