@import '../../../Mixin/global.scss';

#stu_card {

	nav {

		ul {
			@extend %row;
			@include jus-set();
			padding: 5px 0px;
			overflow-x: auto;
			li {
				width: 40px;
				height          : 35px;
				padding: 0px 10px;
				border-radius: 30px;
				color: $font_maincolor;
				background-color: $button_color;
				text-align      : center;
				margin: 0px 5px;
				cursor: pointer;
				@include ali-set();
				@include jus-set();
			}
			&::-webkit-scrollbar {
        /*-------滾動條整體樣式----*/
				height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        /*滾動條裡面小方塊樣式*/
        border-radius: 8px;
        background   : $form_maincolor;
    }

    &::-webkit-scrollbar-track {
        /*滾動條裡面軌道樣式*/
        border-radius: 0px;
        background   : $scrollbar_track;
    }
		}
	}
	.block {
		margin : 0px 10px;
		@extend %row;
		flex-wrap: wrap;
		// justify-content: center;
	}

	.card {
		width: 239.06px;
		margin-bottom: 20px;

		.card_in {
			margin: 5px 10px;
			border-inline: solid;
			@include border-set();
		}

		.stu_i {
			height          : 250px;

			.img {
				width           : 100%;
				height          : 100%;
				background-color: aliceblue;
				img{
					@include image-set();
				}
			}
		}

		.stu_n,
		.stu_t {
			text-align: center;
			@include ali-set();
			@include jus-set();
		}

		.stu_n {
			font-size       : $l;
			height          : 40px;
			color: $header_background;
			font-weight: bold;
			background-color: $tr_odd;
		}

		.stu_t {
			background-color: $header_background;
			color           : $font_maincolor;
			height          : 30px;
		}
	}
}