@import'../../../../Mixin/global.scss';

#guest {
    .content {
        padding-top     : $header_height;
        padding-bottom  : 30px;
        min-height      : calc(100vh - 86px);
        background-color: $front_desk_content_background;

        .contentin {
            width : 100%;
            margin: 0px auto;
            @extend %col;
        }
    }
}