@import '../../../Mixin/global.scss';
.content {
    padding-top   : $header_height;
    padding-bottom: 30px;
}

.contentin {
    width : $front_desk_width;
    margin: 0px auto;
    @extend %col;
}
.works_area {
    position        : sticky;
    z-index         : 1;
    top             : 56px;
    display         : flex;
    margin          : 44px 0px;
    height          : 34px;
    width           : 100%;
    background-color:$main_backgroundcolor;
    
    form {
        width: 100%;
        @extend %row;
        @extend %between;
    }
    
    .select_list {
        .select {
            margin-right: 101px;
        }
    }
    
    .select,
    .search {
        
        padding-left: 5px;
        width       : 142px;
        height      : 34px;
        color       : $prompt_color;
        @include border-set();
    }
    
    .search_add {
        width: 499px;
        @extend %between;
    }
    
    .submit {
        width           : 68px;
        height          : 34px;
        background-color: $button_color;
        color           : $font_maincolor;
        font-size       : $m;
        @include jus-set();
        
        &:hover {
            background-color: $button_hover;
        }
    }
}
.edit_button{
    @extend %row;
}
.add {
    margin-left: 15px;
    width           : 121px;
    height          : 34px;
    font-size       : $m;
    background-color: $button_color;
    a {
        height: 100%;
        width : 100%;
        background-color: $button_color;
        @include ali-set();
        @include jus-set();
        @extend %row;
        &:link,
        &:visited {
            color: $font_maincolor;
        }
        
        &:hover {
            background-color: $button_hover;
        }
    }
}
.reaults_area {
    table {
        width          : 100%;
        
        .tr_odd {
            background-color: $tr_odd;
        }
        
        .tr_even {
            background-color: $tr_even;
        }
        
        th,
        td {
            @include border-set($main_backgroundcolor);
        }
        
        th {
            height          : 59px;
            font-size       : $l;
            color           : $font_maincolor;
            background-color: $th_background;
            white-space     : nowrap;
            min-width       : 78px;
        }
        
        td {
            height : 51px;
            padding: 4px 15px;
            color  : $header_background;
            
            a {
                
                &:link,
                &:visited {
                    color: $header_background;
                }
                
                &:hover {
                    text-decoration: underline;
                }
            }
            
        }
    }
}
