@import '../../../Mixin/global.scss';

#admin_header {
    position        : fixed;
    top             : 0px;
    width           : 100%;
    height          : $header_height;
    background-color: $admin_header_background;
    z-index         : 10;
    @include ali-set();
    @extend %row;
    @extend %between;

    .logo {
        width      : 125px;
        height     : 40px;
        margin-left: 30px;

        img {
            @include image-set(100%, 100%, contain);
        }
    }

    nav {
        @extend %row;
        margin-right: 30px;
    }

    .logout {
        @include ali-set();
        margin: 0px 5px;

        a,
        p,
        path {
            color: $admin_header_font;
            fill : $admin_header_font;
            @include ali-set();

            &:hover {
                color: $font_maincolor;

                path {
                    fill: $font_maincolor;
                }
            }

            svg {
                margin-right: 5px;
            }
        }
    }
}