@import '../../../../Mixin/global.scss';

#game_info {
    .add_title {
        padding      : 10px 10px;
        border-bottom: 1px $tr_even solid;
        color        : $header_background;
        @extend %between;

        .title_name {
            @extend %row;
            @include ali-set(end);

            .tag {
                margin-left: 20px;
                @extend %row;

                .small_tag {
                    display         : inline-block;
                    text-align      : center;
                    min-width       : 30px;
                    background-color: $tag_backgroud;
                    color           : $font_maincolor;
                    border-radius   : 30px;
                    margin          : 2.5px;
                    padding         : 4px 8px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .edit_button {
        @extend %row;

        .add {
            margin-left     : 15px;
            height          : 34px;
            font-size       : $m;
            background-color: $button_color;

            a,
            .func_btn {
                height          : 100%;
                width           : 100%;
                color           : $font_maincolor;
                background-color: $button_color;
                @include ali-set();
                @include jus-set();
                @extend %row;
                cursor: pointer;

                &:link,
                &:visited {
                    color: $font_maincolor;
                }

                &:hover {
                    background-color: $button_hover;
                }

                svg {
                    margin-left: 5px;
                }

                p {
                    margin: 0px 10px 0px 5px;
                }
            }
        }
    }
    .game{
        margin: 30px 0px;
        @extend %row;
        .right_block{
            width: $col-5;
            .r_block{
                .info{
                    padding: 0px 5px;
                }
                margin-bottom: 20px;
            }
        }
        .title{
            font-size: $l;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .left_block{
            width: $col-7;
            .magin_top_70 {
                margin-top: 70px;
            }
            .participant {
                min-height: 150px;
                max-height: 350px;
                width     : calc(100% - 20px);
            }
            .something_content {
                background-color: $form_maincolor;
                color           : $font_maincolor;
                padding         : 10px;
                overflow-y      : auto;
                @include border-set($form_border);
                @extend %every_content;
            }
            ol {
                padding-left: 45px;

                li {
                    text-decoration: underline;
                    margin-bottom  : 10px;

                    &:hover {
                        color: rgb(69, 69, 221);
                    }
                }
            }
        }
    }
   

}