@import '../../../../Mixin/global.scss';

#game_info {
    .add_title {
        padding      : 10px 10px;
        border-bottom: 1px $tr_even solid;
        color        : $header_background;
        @extend %between;

        .title_name {
            @extend %row;
            @include ali-set(end);

            .tag {
                margin-left: 20px;
                @extend %row;

                .small_tag {
                    display         : inline-block;
                    text-align      : center;
                    min-width       : 30px;
                    background-color: $tag_backgroud;
                    color           : $font_maincolor;
                    border-radius   : 30px;
                    margin          : 2.5px;
                    padding         : 4px 8px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .edit_button {
        @extend %row;

        .add {
            margin-left     : 15px;
            height          : 34px;
            font-size       : $m;
            background-color: $button_color;

            a,
            .func_btn {
                height          : 100%;
                width           : 100%;
                color           : $font_maincolor;
                background-color: $button_color;
                @include ali-set();
                @include jus-set();
                @extend %row;
                cursor: pointer;

                &:link,
                &:visited {
                    color: $font_maincolor;
                }

                &:hover {
                    background-color: $button_hover;
                }

                svg {
                    margin-left: 5px;
                }

                p {
                    margin: 0px 10px 0px 5px;
                }
            }
        }
    }
    

}