@import '../../../../Mixin/global.scss';

.content_in {
	position        : absolute;
	right           : 0px;
	min-height      : calc(100vh - 56px);
	width           : calc(100% - 250px);
	background-color: $admin_main_background;

	.in {
		width : 95%;
		margin: 30px auto;
	}
}

#teacher_table {
	thead {
		height     : 38px;
		font-weight: bold;

		th {
			text-align: left;
		}
	}

	tr {
		border-top   : 1px $boder_color solid;
		border-bottom: 1px $boder_color solid;

		.check {
			input {
				margin: 0px auto;
			}
		}
	}

	.onchange {
		* {
			background-color: $admin_check;
		}
	}

	td {
		height : $admin_teacherTable_h;
		padding: 5px 5px 5px 0px;

		.introduce {
			max-height : $admin_teacherTable_h;
			overflow-y : auto;
			white-space: pre-line;
		}

		.photo {
			position: relative;

			.Image {
				@include image-set($admin_teacherTable_h, 187.5px, cover);
			}

			.camera {
				position: absolute;
				bottom  : 0px;
				right   : 0px;
				width   : 25px;
				height  : 25px;
				cursor  : pointer;

				img {
					@include image-set();
				}

			}
		}
	}

	.action {
		@include ali-set();
		@extend %row;
		height         : 100%;
		justify-content: space-evenly;

		.svg {
			position: relative;
			@include jus-set();
			width : 30%;
			cursor: pointer;

			svg {
				cursor: pointer;
			}

			.hover {
				display         : none;
				white-space     : nowrap;
				position        : absolute;
				text-align      : center;
				padding         : 2px 5px;
				top             : 22px;
				background-color: $main_backgroundcolor;
				border-radius   : 4px;
				z-index         : 1;
				@include border-set();
			}

			&:hover .hover {
				display: block;
			}
		}
	}
}