@import "../../../Mixin/global.scss";

.content_in {
    position        : absolute;
    right           : 0px;
    width           : calc(100% - 250px);
    min-height      : calc(100vh - 56px);
    background-color: $admin_main_background;

    .in {
        width         : 95%;
        margin        : 30px auto;
        padding-bottom: 15px;
    }
}

.sidebar {
    display: block;
}

@media screen and (max-width:1200px) {
    .sidebar {
        display: none;
    }

    .content_in {
        width: 100%;
    }

    .sidebar_show {
        display: block !important;
        width  : 250px !important;
    }

    .content_in_hide {
        width: calc(100% - 250px);
    }
}