@import "../../../Mixin/global.scss";

.content_in {
    position        : absolute;
    right           : 0px;
    min-height      : calc(100vh - 56px);
    width           : 100%;
    background-color: $admin_main_background;

    .in {
        width         : 95%;
        margin        : 30px auto;
        padding-bottom: 15px;
    }
}
@media screen and (min-width:1200px) {
	.content_in{
        width           : calc(100% - 250px);
    }
}