@import '../../../Mixin/global.scss';

.add_title {
	padding      : 10px 10px;
	border-bottom: 1px $tr_even solid;
	color        : $header_background;
	@extend %between;

	.title_name {
		@extend %row;
		@include ali-set(end);

		.tag {
			@extend %row;

			.small_tag {
				padding         : 3px 7px;
				font-size       : $m;
				border-radius   : 30px;
				background-color: $form_maincolor;
				margin-left     : 10px;
				margin-bottom   : 4px;
				@include ali-set();
				@include jus-set();
			}
		}
	}
}

.add_form {
	.inputbox {
		padding   : 0px 15px;
		margin-top: 50px;
		@extend %between;

		.set {
			position: relative;
			@extend %col;

			.error_msg {
				color    : red;
				font-size: $m;
			}

			.input_tag {
				width    : 20%;
				color: $admin_header_background;
				margin-left: 5px;
			}

		}

		.form_submit {
			font-size          : $m;
			color              : $font_maincolor !important;
			background-color   : $button_color;
			@include ali-set();
			@include jus-set();
			cursor: pointer;
			width : 80px;
		}

		input,
		button,
		select,
		textarea {
			font-size       : $m;
			min-height      : 35px;
			color           : $header_background;
			background-color: rgba(245, 245, 220, 0);
		}

		select {
			option {
				// background-color: $main_backgroundcolor;
			}
		}

		button {
			border: 0px;
			cursor: pointer;
		}

		.input {
			font-size       : $m;
			color           : $header_background;
			background-color: $form_maincolor;
			min-height      : 35px;
			flex-wrap       : wrap;

			@include border-set($form_border);
			@include ali-set();

			p {
				background-color: $tag_backgroud;
				color           : $font_maincolor;
				padding         : 2px 5px;
				border-radius   : 2px;
				margin          : 2.5px;
				@extend %row;
				@include ali-set();

				span {
					position: relative;

					.close {
						position: absolute;
						top     : 2px;
						left    : 2px;
						width   : 18px;
						height  : 18px;
						cursor  : pointer;
					}
				}
			}

			svg {
				margin-left: 3px
			}
		}

		.oncheck {
			@extend %row;
			@include ali-set();

			p {
				@extend %row;
				@include ali-set();

				.deselect {
					padding     : 0;
					margin-right: 3px;
					cursor      : pointer;

					input[type=checkbox] {
						display: none;
					}

					input[type=checkbox]+span {
						display: flex;
						width  : 15px;
					}
				}
			}
		}

		.label {
			display    : flex;
			position   : absolute;
			top        : -25px;
			left       : -5px;
			font-size  : $l;
			font-weight: 600;
			color      : $from_title;
			@include ali-set();
		}

		.upload {
			background-color: $th_background;
			border-radius   : 5px;
			width           : 200px;
			position        : relative;

			input {
				height : 100%;
				width  : 100%;
				opacity: 0;
			}

			input,
			.newbtn,
			svg,
			label {
				cursor: pointer;
			}

			.newbtn {
				position: absolute;
				top     : 6px;
				left    : 8px;
				@extend %row;
				@include ali-set();

				label {
					margin-left: 5px;
					color      : $main_backgroundcolor;
				}
			}

		}

		.locator {
			position: relative;
		}

		.selectlist {
			display   : none;
			position  : absolute;
			top       : 1px;
			z-index   : 1;
			width     : 100%;
			max-height: 150px;
			overflow-y: auto;

			.option {
				height       : 33px;
				border-bottom: 1px $boder_color solid !important;
				@extend %row;
				@include ali-set();

				label {
					width      : 100%;
					height     : 100%;
					margin-left: 5px;
					@include ali-set();
				}

				input {
					margin: 0px 5px;
					width : 0px;
					height: 0px;
				}

				input[type=checkbox] {
					display: none;
				}

				&:hover {
					font-weight: bold;
				}
			}

			.selected {
				background-color: $select_check;
				color           : $font_maincolor;
			}

			.noS {
				background-color: $selectlist;
			}

			&::-webkit-scrollbar {
				/*-------滾動條整體樣式----*/
				width: 5px;

			}

			&::-webkit-scrollbar-thumb {
				/*滾動條裡面小方塊樣式*/
				border-radius: 10px;
				background   : rgb(255, 255, 255);
			}

			&::-webkit-scrollbar-track {
				/*滾動條裡面軌道樣式*/
				border-radius: 0px;
				background   : $admin_sidebar_background;
			}
		}

	}

	#work_col {
		padding   : 0px 15px;
		margin-top: 25px;
		@extend %between;

		.form_submit {
			background-color: $button_color;
			@include ali-set();
			@include jus-set();
			font-size: $m;
			width    : 80px;

			a {
				width : 100%;
				height: 100%;
				@include ali-set();
				@include jus-set();

			}
		}

		button {
			min-height      : 35px;
			background-color: rgba(245, 245, 220, 0);
			border          : 0px;
			color           : $font_maincolor;
			cursor          : pointer;

			a {
				color: $font_maincolor;
			}
		}
	}

	#filename {
		padding: 10px 45px 0px 45px;
	}

	.oldfile {
		@include ali-set();
		@extend %row;

		.reserve {

			svg,
			path {
				fill: black
			}
		}

		.delete {

			svg,
			path {
				fill: red
			}
		}
	}

	.oncheck {
		@extend %row;
		@include ali-set();
		@include jus-set();

		p {
			@extend %row;
			@include ali-set();
			@include jus-set();

			.deselect {
				padding     : 0;
				margin-right: 3px;
				cursor      : pointer;

				input[type=checkbox] {
					display: none;
				}

				input[type=checkbox]+span {
					display: flex;
					width  : 15px;
				}
			}
		}

		.input,
		span,
		label {
			cursor: pointer;
		}
	}
}