@import '../../../Mixin/global.scss';

#fornt_main {
	.works_area {
		z-index         : 1;
		top             : 56px;
		display         : flex;
		margin          : 20px 0px;
		min-width       : 400px;
		background-color: $front_desk_content_background;

		.select_list {
			display       : flex;
			flex-direction: row;

			.select {
				margin-right: 20px;
			}

			.select,
			.search {
				font-size   : $m;
				padding-left: 5px;
				width       : 142px;
				margin-right: 20px;
				color       : $prompt_color;
				@include border-set();
			}

			.submit {
				min-width       : 68px;
				height          : 34px;
				background-color: $button_color;
				color           : $font_maincolor;
				font-size       : $m;
				cursor          : pointer;
				@include jus-set();

				&:hover {
					background-color: $button_hover;
				}
			}
		}



		.search_add {
			margin-left: auto;

			.add {
				height          : 34px;
				font-size       : $m;
				background-color: $button_color;
				width           : 105px;

				a,
				.func_btn {
					height          : 100%;
					width           : 100%;
					color           : $font_maincolor;
					background-color: $button_color;
					@include ali-set();
					@include jus-set();
					@extend %row;
					cursor: pointer;

					&:link,
					&:visited {
						color: $font_maincolor;
					}

					&:hover {
						background-color: $button_hover;
					}

					svg {
						margin-left: 5px;
					}

					p {
						margin: 0px 10px 0px 5px;
					}
				}
			}
		}
	}


	.reaults_area {
		min-width : 400px;
		overflow-x: auto;

		table {
			width: 100%;

			.tr_odd {
				background-color: $tr_odd;
			}

			.tr_even {
				background-color: $tr_even;
			}

			.tr_odd,
			.tr_even {
				.table_tag {
					display         : inline-block;
					text-align      : center;
					min-width       : 30px;
					background-color: $tag_backgroud;
					color           : $font_maincolor;
					padding         : 5px 10px;
					border-radius   : 30px;
					margin          : 2.5px;
				}
			}

			th,
			td {
				@include border-set($main_backgroundcolor);
			}

			th {
				height          : 59px;
				font-size       : $l;
				color           : $font_maincolor;
				background-color: $th_background;
				white-space     : nowrap;
				min-width       : 78px;
			}

			td {
				height : 51px;
				padding: 4px 15px;
				color  : $header_background;

				a {
					@include ali-set(flex-end);

					&:link,
					&:visited {
						color: $header_background;
					}

					&:hover {
						// border-bottom: 1px black solid;
						text-decoration: underline;
					}
				}

				button {
					padding         : 7px 4px;
					background-color: $button_color;
					border          : 0px;
					color           : $font_maincolor;
					font-size       : $m;
					cursor          : pointer;

					&:hover {
						background-color: $button_hover
					}
				}
			}
		}
	}
	.center{
		min-width: 400px;
	}
	.page {
		margin-top: 20px;
		@extend %row;
		@extend %between;

		.page_group {
			@extend %row;

			.one_page {
				margin: 0px 5px;
			}
		}

		.one_page {
			width           : 30px;
			height          : 36px;
			color           : $font_maincolor;
			background-color: $button_color;
			@include ali-set();
			@include jus-set();
			cursor: pointer;

			&:hover {
				background-color: $button_hover;
			}
		}
	}
}

@media screen and (max-width:576px) {
	#fornt_main {
		.works_area {
			display       : flex;
			flex-direction: column;

			.search_add {
				margin-left: 0px;
				margin-top : 20px;
			}
		}
	}
}