@import '../../../Mixin/global.scss';
.content {
    padding-top   : $header_height;
    padding-bottom: 30px;
}

.contentin {
    width : $front_desk_width;
    margin: 0px auto;
    @extend %col;
}
.works_area {
    position        : sticky;
    z-index         : 1;
    top             : 56px;
    display         : flex;
    margin          : 44px 0px;
    height          : 34px;
    width           : 100%;
    background-color:$main_backgroundcolor;
    
    form {
        width: 100%;
        @extend %row;
        @extend %between;
    }
    
    .select_list {
        .select {
            margin-right: 20px;
        }
    }
    
    .select,
    .search {
        padding-left: 5px;
        width       : 142px;
        height      : 34px;
        color       : $prompt_color;
        @include border-set();
    }
    
    .search_add {
        width: 375px;
        @extend %between;
    }
    
    .submit {
        width           : 68px;
        height          : 34px;
        background-color: $button_color;
        color           : $font_maincolor;
        font-size       : $m;
        @include jus-set();
        
        &:hover {
            background-color: $button_hover;
        }
    }
}

.add {
    width           : 121px;
    height          : 34px;
    font-size       : $m;
    background-color: $button_color;
    a,.func_btn {
        height: 100%;
        width : 100%;
        color: $font_maincolor;
        background-color: $button_color;
        @include ali-set();
        @include jus-set();
        @extend %row;
        &:link,
        &:visited {
            color: $font_maincolor;
        }
        
        &:hover {
            background-color: $button_hover;
        }
        svg,p{
            margin: 0px 5px;
        }
    }
}
.reaults_area {
    table {
        width          : 100%;
        
        .tr_odd {
            background-color: $tr_odd;
        }
        
        .tr_even {
            background-color: $tr_even;
        }
        
        .tr_odd,.tr_even{
            .table_tag{
                display:inline-block;
                text-align: center;
                min-width: 30px;
                background-color: #51718cb3;
                color: white;
                padding         : 5px 10px;
                border-radius   : 30px;
                margin          : 2.5px;
            }
        }

        th,
        td {
            @include border-set($main_backgroundcolor);
        }
        
        th {
            height          : 59px;
            font-size       : $l;
            color           : $font_maincolor;
            background-color: $th_background;
            white-space     : nowrap;
            min-width       : 78px;
        }
        
        td {
            height : 51px;
            padding: 4px 15px;
            color  : $header_background;
            
            a {
                
                &:link,
                &:visited {
                    color: $header_background;
                }
                
                &:hover {
                    text-decoration: underline;
                }
            }
            button{
                padding:7px 4px;
                background-color: $button_color;
                border: 0px;
                color: $font_maincolor;
                font-size: $m;
                &:hover{
                    cursor: pointer;
                    background-color: $button_hover
                }
            }
        }
    }
}
