@import '../../../Mixin/global.scss';

#project_info {
    .add_title {
        padding      : 10px 10px;
        border-bottom: 1px $tr_even solid;
        color        : $header_background;
        @extend %between;

        .title_name {
            @extend %row;
            @include ali-set(end);

            .tag {
                margin-left: 20px;
                @extend %row;

                .small_tag {
                    display         : inline-block;
                    text-align      : center;
                    color           : $font_maincolor;
                    background-color: $tag_backgroud;
                    min-width       : 30px;
                    border-radius   : 30px;
                    padding         : 4px 8px;
                    margin          : 2.5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .edit_button {
        @extend %row;

        .add {
            margin-left     : 15px;
            height          : 34px;
            font-size       : $m;
            background-color: $button_color;

            a,
            .func_btn {
                height          : 100%;
                width           : 100%;
                color           : $font_maincolor;
                background-color: $button_color;
                @include ali-set();
                @include jus-set();
                @extend %row;
                cursor: pointer;

                &:link,
                &:visited {
                    color: $font_maincolor;
                }

                &:hover {
                    background-color: $button_hover;
                }

                svg {
                    margin-left: 5px;
                }

                p {
                    margin: 0px 10px 0px 5px;
                }
            }
        }
    }

    .project_content {
        margin: 30px 0px;
        height: 270px;
    }

    .something_content {
        background-color: $form_maincolor;
        color           : $font_maincolor;
        padding         : 10px;
        overflow-y      : auto;
        @include border-set($form_border);
        @extend %every_content;
    }

    .reaults_area {
        table {
            width: 100%;

            .tr_odd {
                background-color: $tr_odd;
            }

            .tr_even {
                background-color: $tr_even;
            }

            th,
            td {
                @include border-set($main_backgroundcolor);
            }

            th {
                height          : 59px;
                font-size       : $l;
                color           : $font_maincolor;
                background-color: $th_background;
                white-space     : nowrap;
                min-width       : 78px;
            }

            td {
                height : 51px;
                padding: 4px 15px;
                color  : $header_background;

                a {

                    &:link,
                    &:visited {
                        color: $header_background;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}