$front_desk_content_background:rgb(255, 255, 255);
$front_desk_contentin_background:rgb(255, 255, 255);

$header_background:#022840;
$header_height    :56px;

$button_color:#51718C;
$button_hover:#66859e;
$delete_button:#b53b2e;
$delete_button_hover:#d02513;

$scrollbar_thumb:#51718C;
$scrollbar_track:#D8E6F2;
$scrollbar_width:6px;

$tag_backgroud:#51718cb3;

$boder_color :#CCCCCC;
$prompt_color:#757575;


$front_desk_width:1200px;

$th_background    :#51718C;
$tr_odd :#ADC5D9;
$tr_even:#D8E6F2;

$selectlist:#dadee2;
$select_check:#a8b8c9;
$select_hover:#e9e9e9;

$form_maincolor:#ADC5D9;
$form_border   :#D8E6F2;
$from_title    :#8696a7;

$font_maincolor      :#ffffff;
$main_backgroundcolor:#ffffff;
$l                   :18px;
$m                   :16px;
$s                   :14px;

$col-05:4.166667%;
$col-1:8.333333%;
$col-2:16.666667%;
$col-3:25%;
$col-4:33.333333%;
$col-5:41.666667%;
$col-6:50%;
$col-7:58.333333%;
$col-8:66.666667%;
$col-9:75%;
$col-10:83.333333%;
$col-11:91.666667%;
$col-12:100%;


$admin_header_background:black;
$admin_main_background:#D8E6F2;
$admin_sidebar_background:#112639;
$admin_sidebar_width:250px;
$sdmin_contentin_width:calc(100% - $admin_sidebar_width);
$sidebar_nochange_color:#51718C;
$sidebar_hover_background:#ffffff46;
$sidebar_nowPage_background:#51718c45;
$admin_check:antiquewhite;
$admin_teacherTable_h:250px;


$studentcard_background:#ADC5D9;
@mixin border-set($color:$boder_color, $width:1px, $style: solid) {
    border: {
        color: $color;
        width: $width;
        style: $style;
    }
}

@mixin image-set($height:100%, $width:100%, $obj_fit:cover) {
    width     : $width;
    height    : $height;
    object-fit: $obj_fit;
}

@mixin ali-set($align-items:center) {
    display    : flex;
    align-items: $align-items;
}

@mixin jus-set($justify-content:center) {
    display        : flex;
    justify-content: $justify-content;
}
@mixin text-a($atext-align:center) {
    text-align: $atext-align
}
%row {
    display       : flex;
    flex-direction: row;
}

%col {
    display       : flex;
    flex-direction: column;
}

%between {
    display        : flex;
    justify-content: space-between;
}

%every_content {
    display   : inline-block;
    word-wrap : break-word;
    overflow-y: auto;
}
.col-05{
    width: $col-05;
}
.col-1 {
    width: $col-1;
}
.col-1_5 {
    width: $col-1+$col-05;
}
.col-2 {
    width: $col-2;
}

.col-3 {
    width: $col-3;
}

.col-4 {
    width: $col-4;
}

.col-5 {
    width: $col-5;
}

.col-6 {
    width: $col-6;
}

.col-7 {
    width: $col-7;
}

.col-8 {
    width: $col-8;
}

.col-9 {
    width: $col-9;
}

.col-10 {
    width: $col-10;
}

.col-11 {
    width: $col-11;
}

.col-12 {
    width    :$col-12;
}

* {
    margin : 0px 0px;
    padding: 0px 0px;
}

body {
    font-family: "Microsoft JhengHei";
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        text-decoration: none;
    }
}

ul {
    li {
        list-style: none;
    }
}

input {
    background-color: none;
    outline         : none;
    border          : 0px;
    display         : flex;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    border: none;
}

::placeholder {
    color: #797979;
}

table {
    border-collapse: collapse;
}