@import './global.scss';

.popup_background {
   display         : none;
   position        : fixed;
   top             : 0px;
   left            : 0px;
   width           : 100%;
   background-color: rgba(0, 0, 0, 0.496);
   height          : 100vh;

   .window {
      font-family    : "lato", sans-serif;
      display        : flex;
      justify-content: center;
      align-items    : center;
      height         : 100vh;
   }
}

.permission_form {
   width: 450px;
}

.ablumform {
   background-color: $main_backgroundcolor;
   width           : 75%;
   max-height      : 75vh;
   padding         : 40px 40px;

   .photo {
      width  : 100%;
      display: flex;

      img {
         display   : flex;
         width     : 100%;
         height: 70vh;
         object-fit: cover;
      }
   }
}

.form {
   @extend %col;
   background-color: $main_backgroundcolor;
   border-radius   : 8px;
   padding         : 20px 40px;
   box-shadow      : 0 10px 25px rgba(92, 99, 105, .2);

   .title {
      color      : $button_color;
      font-weight: bold;
      @extend %row;

      .close {
         position   : relative;
         display    : flex;
         height     : 24px;
         margin-left: auto;

         &:hover {
            cursor: pointer;
         }

         .close_btn {
            position: absolute;
            top     : 0;
            height  : 24px;
            width   : 24px;
         }
      }
   }

   .inputContainer {
      position  : relative;
      height    : 45px;
      width     : 100%;
      margin-top: 20px;

      select {
         width        : 100%;
         height       : 100%;
         font-size    : $m;
         padding      : 0px 20px;
         border       : 1px solid $boder_color;
         border-radius: 7px;
      }

      .input {
         position     : absolute;
         top          : 0px;
         left         : 0px;
         height       : 100%;
         width        : calc(100% - 40px);
         border       : 1px solid $boder_color;
         border-radius: 7px;
         font-size    : 16px;
         padding      : 0 20px;
         outline      : none;
         background   : none;
         z-index      : 1;
      }

      ::placeholder {
         color: $prompt_color !important;
      }

      .input:focus+.label {
         top        : -7px;
         left       : 3px;
         z-index    : 10;
         font-size  : 14px;
         font-weight: 600;
         color      : $from_title;
      }

      .input:not(:placeholder-shown)+.label {
         top        : -7px;
         left       : 3px;
         z-index    : 10;
         font-size  : 14px;
         font-weight: 600;
      }

      .label {
         position        : absolute;
         top             : 14px;
         left            : 15px;
         padding         : 0 4px;
         background-color: $main_backgroundcolor;
         color           : $prompt_color;
         font-size       : 16px;
         transition      : 0.5s;
         z-index         : 0;
      }
   }

   #filename {
      margin-top: 15px;
   }

   .enter {
      position  : relative;
      margin-top: 15px;

      .long_text {
         margin-top   : 30px;
         min-height   : 125px;
         width        : calc(100% - 10px);
         resize       : none;
         padding      : 5px;
         border-radius: 7px;
         @include border-set($boder_color);
      }

      .label {
         display    : flex;
         position   : absolute;
         top        : 0px;
         font-size  : $l;
         font-weight: 600;
         color      : $from_title;
         @include ali-set();
      }

      input[type=file] {
         opacity: 0;
      }

      .nowfile {
         color           : $font_maincolor;
         background-color: $button_hover;
         position        : absolute;
         top             : 0px;
         width           : 100%;
         height          : 30px;
         border-radius   : 5px;
         @include ali-set();
         @include jus-set();
         cursor: pointer;
      }
   }

}

.message {
   margin-top: 30px;
   text-align: center
}

.btn_block {
   @extend %row;
   @extend %between;
   margin-top: 10px;

   .submitBtn {
      display         : block;
      padding         : 7px 14px;
      border          : none;
      border-radius   : 5px;
      background-color: $button_color;
      color           : $font_maincolor;
      cursor          : pointer;
      font-size       : 16px;
      margin-top      : 10px;
      margin-left     : auto;

      &:hover {
         background-color: $button_hover;
      }
   }
}

.small_title {
   width      : 100%;
   color      : $from_title;
   font-weight: bold;
}

.permission_table {
   margin-top: 20px;
   @extend %row;
   flex-wrap: wrap;

   .t {
      position: relative;
      height  : 30px;
      @include ali-set();
      @extend %row;
      width: $col-4;

      * {
         height: 30px;
         @include ali-set();
      }

      input {
         margin  : 0px 5px;
         position: absolute;
         top     : 2px
      }

      span {
         position: absolute;
         left    : 23px;
      }
   }
}

.bookform {
   width: 70%;

   .bookinfo {
      padding-top: 20px;
      @extend %row;

      .bookimg {
         position: relative;
         width   : 300px;
         height  : 300px;

         .imgbox {
            width : 100%;
            height: 100%;

            img {
               @include image-set();
            }
         }

         .camera {
            width   : 25px;
            height  : 25px;
            position: absolute;
            right   : 0px;
            bottom  : 0px;
            cursor  : pointer;
         }
      }

      .info {
         width  : calc(100% - 320px);
         height : 300px;
         padding: 0px 10px;
         @extend %col;

         .inputContainer {
            margin-top   : 0px;
            margin-bottom: 20px;
         }
      }
   }
}

//小於1300的時候圖片預覽高度
@media screen and (max-width:1320px) {
   .ablumform {
      .photo {
         img {
            max-height: 450px;
         }
      }
   }
}